.custom-radio-item {
  padding-left: 0;
}

.custom-radio-item .form-check-label {
  width: 100%;
  cursor: pointer;
  padding: 0.55rem;

  border: 1px solid #dee2e6;
  border-radius: 5px;
}

.form-check {
  margin-bottom: 0.75rem;
}

.custom-radio-item .form-check-label:hover {
  background-color: #f8f9fa;
}

.custom-radio-item input[type="radio"]:checked + .form-check-label {
  font-weight: bold;
  color: rgba(var(--bs-success-rgb));
}
